ody,input,textarea,select
	{
		font-size: 11pt;
	}
		
	.divider
	{
		margin: 5em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo-wrapper
	{
		height: 6em;
		min-height: 6em;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 5em 0em;
	}
	
	.homepage #banner
	{
		padding: 15em 0em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 6em 0em;
	}
	